//Déclaration des variables 

//Barre de nav
$a_col: white;
$a_typo: 'Poppins', sans-serif;
$a_size: 16px;

//H1
$h1_typo: 'Poppins', sans-serif;
$h1_size: 50px;
$h1_col: #42495B;

//H2
$h2_typo: 'Lobster', cursive;
$h2_size: 20px;
$h2_col: #7E76F9;

//H3
$h3_typo: 'Poppins', sans-serif;
$h3_size: 50px;
$h3_col: #42495B;

//H4
$h4_typo: 'Poppins', sans-serif;
$h4_size: 18px;
$h4_col: #42495B;

//H5
$h5_typo: 'Lobster', cursive;
$h5_size: 28px;
$h5_col: #42495B;

//H6
$h6_typo: 'Poppins', sans-serif;
$h6_size: 32px;
$h6_col: #42495B;

//P
$p_typo: 'Poppins', sans-serif;
$p_col: #7A839E;
$p_size: 16px;


//Liens et Bouton
$gradient: linear-gradient(90deg, #1A129F 0%, #6156F9 80%);
$b_col: white;
$b03_col: #42495B;
$b03_bord: #1000FF;






